.about {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 0vh;
  margin-bottom: 10vh;
}

.about-container-left {
  position: absolute;
  width: 49%;
  height: 100%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  z-index: 2;
  pointer-events: none;
}

.about-container-left h1 {
  padding-top: 10px;
  color: #fff;
  font-family: "fivo_sans_modernitalic";
  font-size: 24px;
}

.about-container-left h1::after {
  content: "Dupont";
  padding-top: 10px;
  padding-left: 10px;
  color: #fff;
  font-family: "avarabold_italic";
  font-size: 24px;
  text-transform: uppercase !important;
  pointer-events: visible;
}

.about-container-left h2 {
  padding-top: 10px;
  color: #fff;
  font-family: "fivo_sans_modernheavy";
  font-size: 64px;
  text-align: justify;
  pointer-events: visible;
  font-size: 50px !important;
  text-transform: uppercase !important;
}

#h5esperluette {
  font-family: "avarabold_italic";
}

.about-container-left p {
  padding-top: 20px;
  color: #fff;
  font-family: "fivo_sans_modernitalic";
  font-size: 24px;
  pointer-events: visible;
  text-transform: uppercase !important;
}

.about-btn-contact {
  padding-top: 30px;
  padding-left: 0%;
  background: transparent;
}

.about-btn-contact button {
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-family: "fivo_sans_modernmedium";
  overflow: hidden;
  pointer-events: visible;
  cursor: pointer;
}

.about-btn-contact button:hover {
  color: #e63b3b;
  font-style: oblique;
}

.about-btn-contact button:active {
  transform: scale(0.95);
  transition-duration: 0.2s;
}

.about-container-right {
  position: absolute;
  width: 60%;
  height: 100%;
  right: 5%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none;
}

.about-container-right,
img {
  opacity: 100%;
}

.arrow-scroll img {
  position: absolute;
  width: 12.5px;
  display: block;
  bottom: 10%;
  left: 0.5%;
  animation: arrow-scroll 2s ease-in-out infinite;
}

@keyframes arrow-scroll {
  0% {
    transform: translate(0%, 0%);
    transform: rotateY(0deg);
  }
  25% {
    transform: translate(0%, 50%);
  }
  50% {
    transform: translate(0%, 25%);
    transform: rotateY(180deg);
  }
  75% {
    transform: translate(0%, 50%);
  }
  100% {
    transform: translate(0%, 0%);
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 415px) {
  .about {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  .about-container-left {
    position: absolute;
    width: 90%;
    height: auto;
    top: 30%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    z-index: 2;
    pointer-events: none;
  }

  .about-container-left h1 {
    padding-top: 10px;
    color: #fff;
    font-family: "fivo_sans_modernitalic";
    font-size: 12px;
  }

  .about-container-left h1::after {
    content: "Dupont";
    padding-top: 10px;
    padding-left: 10px;
    color: #fff;
    font-family: "avarabold_italic";
    font-size: 12px;
    text-transform: uppercase !important;
    pointer-events: visible;
  }

  .about-container-left h2 {
    padding-top: 10px;
    font-size: 40px !important;
  }

  #h5esperluette {
    font-family: "avarabold_italic";
    padding-left: 50%;
  }

  .about-container-left p {
    padding-top: 20px;
    color: #fff;
    font-family: "fivo_sans_modernitalic";
    font-size: 16px;
    pointer-events: visible;
    text-transform: uppercase !important;
  }

  .about-btn-contact {
    padding-top: 30px;
    padding-left: 0%;
    background: transparent;
  }

  .about-btn-contact button {
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-family: "fivo_sans_modernmedium";
    overflow: hidden;
    pointer-events: visible;
    cursor: pointer;
  }

  .about-btn-contact button:hover {
    color: #e63b3b;
    font-style: oblique;
  }

  .about-btn-contact button:active {
    transform: scale(0.95);
    transition-duration: 0.2s;
  }

  .about-container-right {
    position: absolute;
    width: 90%;
    height: auto;
    right: 5%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
  }

  .arrow-scroll img {
    position: absolute;
    width: 12.5px;
    display: block;
    bottom: 0%;
    left: 90.5%;
    animation: arrow-scroll 2s ease-in-out infinite;
  }
}
