:root{
  --primary: #000;
  --second: #fff;
  --third: #e63b3b;
}

/* :root{
  --primary: #FFEDBC;
  --second: #ED4264;
  --third: #e63b3b;
} */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

html {
  scroll-behavior: smooth !important;
}

html body {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: auto;
  background: var(--primary);
  overflow-x: hidden;
  font-family: "fivo_sans_modernregular" !important;
  color: var(--second) !important;
  cursor: none;
  /* text-transform: uppercase !important; */
}

* {
  padding: 0;
  margin: 0;
}

.loader {
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  -webkit-filter: contrast(40);
  z-index: 1000;
}

.wrapper-loader {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: test 30s linear infinite;
}

@-webkit-keyframes test{
  0% {
    -webkit-transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}

.dot {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-filter: blur(15px);
  margin: 2vh;
}

.moving-dot {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-filter: blur(10px);
  background: rgb(79, 47, 60);
  -webkit-animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
}

.moving-dot2{
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-filter: blur(2.5px);
  background: red;
  -webkit-animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translateX(-115px);
  }

  50% {
    -webkit-transform: translateX(115px);
  }

  100% {
    -webkit-transform: translateX(-115px);
  }
}

/* Couleur qui match très bien avec le .moving-dot 
darkgoldenrod
darkslategray
darkslateblue
rgb(61, 47, 79)
rgb(75, 47, 79)
rgb(79, 47, 60)++
orange
greenyellow
*/

.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  /* background-image: url(../img/logo.svg);
  background-repeat: no-repeat; */
  width: 50px;
  height: 50px;
  border-radius: 20% 50% 50% 50%;
  background-color: white;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(0.3);
  z-index: 1000;
}

.custom-cursor--link {
  background-color: #e63b3b;
  border-radius: 20% 50% 50% 50%;
  transform: translate(-50%, -50%) scale(0.35) rotate(30deg);
}

.custom-cursor--img {
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(2) rotateZ(60deg);
}

/* @keyframes anim-cursor{
  0% {
    transform: rotateZ(-0deg);
  }
  25% {
    transform: rotateZ(-90deg);
  }
  50% {
    transform: rotateZ(-180deg);
  }
  75% {
    transform: rotateZ(-270deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
} */

*::-webkit-scrollbar {
  width: 7px;
  background-color: var(--primary);
}

*::-webkit-scrollbar-thumb {
  width: 50% !important;
  background-color: var(--second);
}

*::selection {
  background: var(--primary);
  color: var(--third);
}

*::-moz-selection {
  background: var(--primary);
  color: var(--third);
}

*::-webkit-selection {
  background: var(--primary);
  color: var(--third);
}

#langs{
  position: absolute;
  top: 2vh;
  left: 2vh;
  z-index: 999;
}

#lang{
  color: var(--second);
  opacity: 0.6;
}

#lang:hover{
  color: var(--third);
  font-style: oblique;
}

footer{
  width: 100vw;
  height: 1vh;
  margin: 2vh;
/*   background-color: var(--primary);
  background-image: url(/img/Logo\ Siod.png);
  background-size: contain;
  background-repeat: no-repeat; */
  opacity: 0.3;
}

@media screen and (max-width: 900px) {
  #langs{
    left: auto;
    right: 2vh;
  }
}

@media screen and (max-width: 850px) {
  .loader{
    display: none;
  }
}

@media screen and (orientation : portrait) {
  html body{
    cursor: auto;
  }

  .custom-cursor{
    display: none;
  }
}
