* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth !important;
}

html body {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: auto;
  background: #000;
  overflow-x: hidden;
  font-family: "fivo_sans_modernregular" !important;
  color: #fff !important;
  cursor: none;
  /* text-transform: uppercase !important; */
}

.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  /* background-image: url(../img/logo.svg);
  background-repeat: no-repeat; */
  width: 50px;
  height: 50px;
  border-radius: 20% 50% 50% 50%;
  background-color: white;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(0.3);
  z-index: 1000;
  animation: anim-cursor 2s linear infinite;
}

@keyframes anim-cursor{
 
}

*::-webkit-scrollbar {
  width: 7px;
  background-color: #000;
}

*::-webkit-scrollbar-thumb {
  width: 50% !important;
  background-color: #fff;
}

*::selection {
  background: #000;
  color: #e63b3b;
}

*::-moz-selection {
  background: #000;
  color: #e63b3b;
}

*::-webkit-selection {
  background: #000;
  color: #e63b3b;
}


@media screen and (max-width: 850px) {
  html body{
    cursor: auto;
  }

  .custom-cursor{
    display: none;
  }
}