.citation {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

.citation-scroll-txt {
  position: absolute;
  left: 100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.citation-scroll-txt h2 {
  color: #fff;
  font-family: "avarabold_italic";
  font-size: 20vh;
  padding-left: 15vw;
}

.citation-scroll-txt h3 {
  color: #fff;
  font-family: "fivo_sans_modernitalic";
  padding-right: 15vw;
}

.citation-scroll-txt-phone {
  display: none;
}

@media screen and (max-width: 1000px) {
  .citation-scroll-txt {
    display: none;
  }

  .citation-scroll-txt-phone {
    display: block;
    left: 100px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  .citation-scroll-txt-phone h2 {
    padding: 0vh;
    text-align: start;
    font-family: "avarabold_italic";
    font-size: 48px;
    display: flex;
		flex-direction: column;
  }

  .citation-scroll-txt-phone h3 {
    font-family: "fivo_sans_modernitalic";
    font-size: 20px;
    text-align: right;
  }
}
