.citation {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

.citation-scroll-txt {
  position: absolute;
  left: 100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.citation-scroll-txt h2 {
  color: #fff;
  font-family: "avarabold_italic";
  font-size: 20vh;
  padding-left: 15vw;
}

.citation-scroll-txt h3 {
  color: #fff;
  font-family: "fivo_sans_modernitalic";
  padding-right: 15vw;
}

@media screen and (max-width: 1000px) {
  .citation {
  height: 50vh;
}
  .citation-scroll-txt {
top: 5%;
}

  .citation-scroll-txt h2 {
    color: #fff;
    font-family: "avarabold_italic";
    font-size: 10vh;
    padding-left: 15vw;
  }
}
