header {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 666;
}

.navbar {
  width: 25px;
  height: 100vh;
  margin: 0;
  padding: 10px;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.navbar-logo {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 1.5vh;
  right: 1.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#logo {
  position: absolute;
  left: 20%;
}

.navbar-logo::after {
  content: "👁️";
  /* zoom: %; */
  position: absolute;
  display: block;
  width: 115%;
  height: 115%;
  background-color: var(--second);
  opacity: 0;
  pointer-events: none;
}

.navbar-logo:hover::after {
  opacity: 1 !important;
  animation: home linear 3s infinite;
}

@keyframes home {
  0% {
    transform: rotateZ(-0deg);
  }
  25% {
    transform: rotateZ(-90deg);
  }
  50% {
    transform: rotateZ(-180deg);
  }
  75% {
    transform: rotateZ(-270deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

.navbar-menu-link{
  margin: 0;
  padding: 0;
  display: inline-block;
  color: var(--second);
  text-decoration: none;
  opacity: 0.35;
}

.navbar a:hover {
  color: var(--third);
  font-style: oblique;
}

.active-nav{
  color: var(--third);
  font-style: oblique;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .navbar {
    display: none
  }
}