.services {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}

.services-container {
  width: 85vw;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.services-container h2 {
  font-family: "avarabold_italic";
  font-size: 100px;
}

.services-container-txt {
  width: 85vw;
  height: 100%;
  overflow: hidden;
}

.services-container-scroll {
  animation: scrollServices 5s linear infinite;
}

@keyframes scrollServices {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}

.services-container-scroll a {
  text-decoration: none;
}

.services-container-scroll h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "avarablack";
  font-size: 75px;
  white-space: nowrap;
  color: #000;
  -webkit-text-stroke: 1px #fff;
  cursor: pointer;
}

.services-container-scroll h2:hover {
  color: #fff;
}

.services-container-scroll:hover {
  animation-play-state: paused !important;
}

.services-container-scroll h2::before {
  display: inline-block;
  width: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10px;
  border-left: 3px solid currentColor;
  font-family: "avarabold_italic";
  font-size: 12.5px;
  letter-spacing: 2px;
  opacity: 0;
}

.s1::before {
  content: "001";
}

.s1:hover::before {
  opacity: 1;
}

.s2::before {
  content: "002";
}

.s2:hover::before {
  opacity: 1;
}

.s3::before {
  content: "003";
}

.s3:hover::before {
  opacity: 3;
}
