.work{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.75);
    overflow: hidden;
}

.work-img{
    position: relative;
    margin: 2vw;
    width: 25vw;
    height: auto;
    z-index: 0;
    overflow: hidden;
}

.work-img img{
    width: 100%;
    height: auto;
}

.work-img a{
    transition: 2s ease;
}

.work-img a:hover + #seemore1{
    transform: translateX(-130%);
    font-style: oblique;  
}

.work-img a:hover{
    filter: sepia(75%);
}

.work h5{
    position: absolute;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-family: "fivo_sans_modernregular";
    color: #fff;
    mix-blend-mode: difference;
    text-align: center;
    z-index: 1;
    bottom: 2%;
    right: -17.5%;
    transition: 2s ease;
    pointer-events: none;
}