.work {
  width: 100vw;
  height: auto;
  padding: 0 0 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}

.container-works {
  position: relative;
  width: 95vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
}

.top {
  position: relative;
  background-color: rgba(125, 125, 125, 0);
  padding: 8vh 0 8vh 0;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.top span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 82.5vw;
  height: 0.2vh;
  background-color: var(--second);
}

.work-content {
  display: flex;
  flex-direction: row;
}

.work-left {
  width: 30%;
  height: auto;
  margin: 0 0 4vh 0;
  padding: 0 2vw 0 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.work-left h1 {
  font-family: "fivo_sans_modernheavy";
  font-size: 8vh;
  text-transform: uppercase;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: anywhere;
  hyphens: auto;
}

.second-info {
  font-size: 1.2vh;
  color: var(--third);
}

.second-info h2:nth-child(1) {
  color: var(--second);
  opacity: 0.5;
  padding: 0 0 1vh 0;
}

.second-info a {
  color: var(--third);
}

.work-right {
  width: 70%;
  margin: 0 0 4vh 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-bg-white{
  background: white;
}

.work-right img {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .work-content {
    flex-direction: column;
  }

  .work-left {
    width: 100%;
  }

  .work-right {
    width: 100%;
  }
}
