/*fonts */

@font-face {
    font-family: 'avarablack';
    src: url('../fonts/Avara/avara-black-webfont.woff2') format('woff2'),
         url('../fonts/Avara/avara-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'avarabold';
    src: url('../fonts/Avara/avara-bold-webfont.woff2') format('woff2'),
         url('../fonts/Avara/avara-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'avarabold_italic';
    src: url('../fonts/Avara/avara-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Avara/avara-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Bold */

@font-face {
    font-family: 'fivo_sans_modernbold';
    src: url('../fonts/FivosSansModern/fivosansmodern-bold-webfont.woff2') format('woff2'),
         url('../fonts/FivosSansModern/fivosansmodern-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fivo_sans_modernBdOb';
    src: url('../fonts/FivosSansModern/fivosansmodern-bold-oblique-webfont.woff2') format('woff2'),
         url('../fonts/FivosSansModern/fivosansmodern-bold-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Extra-Black */

@font-face {
    font-family: 'fivo_sans_modernextra_black';
    src: url('../fonts/FivosSansModern/fivosansmodern-extblack-webfont.woff2') format('woff2'),
         url('../fonts/FivosSansModern/fivosansmodern-extblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fivo_sans_modernextra_black-oblique';
    src: url('../fonts/FivosSansModern/fivosansmodern-extblack-oblique-webfont.woff2') format('woff2'),
         url('../fonts/FivosSansModern/fivosansmodern-extblack-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Heavy */

@font-face {
    font-family: 'fivo_sans_modernheavy';
    src: url('../fonts/FivosSansModern/fivosansmodern-heavy-webfont.woff2') format('woff2'),
         url('../fonts/FivosSansModern/fivosansmodern-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fivo_sans_modernheavy_oblique';
    src: url('../fonts/FivosSansModern/fivosansmodern-heavy-oblique-webfont.woff2') format('woff2'),
         url('../fonts/FivosSansModern/fivosansmodern-heavy-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Medium */

@font-face {
    font-family: 'fivo_sans_modernmedium';
    src: url('../fonts/FivosSansModern/fivosansmodern-medium-webfont.woff2') format('woff2'),
         url('../fonts/FivosSansModern/fivosansmodern-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fivo_sans_modernMdOb';
    src: url('../fonts/FivosSansModern/fivosansmodern-medium-oblique-webfont.woff2') format('woff2'),
         url('../fonts/FivosSansModern/fivosansmodern-medium-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Regular */

@font-face {
    font-family: 'fivo_sans_modernregular';
    src: url('../fonts/FivosSansModern/fivosansmodern-regular-webfont.woff2') format('woff2'),
         url('../fonts/FivosSansModern/fivosansmodern-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fivo_sans_modernitalic';
    src: url('../fonts/FivosSansModern/fivosansmodern-regular-oblique-webfont.woff2') format('woff2'),
         url('../fonts/FivosSansModern/fivosansmodern-regular-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}