@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* COLOURS */
    /* BASE */
    --color-primary-100: 197 197 197;
    --color-primary-200: 190 190 190;
    --color-primary-300: 166 166 166;
    --color-primary-400: 156 156 156;
    --color-primary-500: 145 145 145;
    --color-primary-600: 131 131 131;
    --color-primary-700: 118 118 118;
    --color-primary-800: 86 86 86;
    --color-primary-900: 77 77 77;

    --color-secondary-100: 255 194 121;
    --color-secondary-200: 255 187 106;
    --color-secondary-300: 255 161 49;
    --color-secondary-400: 255 150 26;
    --color-secondary-500: 255 138 0;
    --color-secondary-600: 230 124 0;
    --color-secondary-700: 207 112 0;
    --color-secondary-800: 150 82 0;
    --color-secondary-900: 135 74 0;

    --color-accent-100: 230 133 239;
    --color-accent-200: 227 119 237;
    --color-accent-300: 217 68 230;
    --color-accent-400: 213 47 227;
    --color-accent-500: 208 24 224;
    --color-accent-600: 187 22 202;
    --color-accent-700: 168 20 182;
    --color-accent-800: 122 14 133;
    --color-accent-900: 110 13 120;

    --color-neutral-100: 145 145 145;
    --color-neutral-200: 133 133 133;
    --color-neutral-300: 97 97 97;
    --color-neutral-400: 85 85 85;
    --color-neutral-500: 73 73 73;
    --color-neutral-600: 60 60 60;
    --color-neutral-700: 48 48 48;
    --color-neutral-800: 12 12 12;
    --color-neutral-900: 0 0 0;

    --color-background: 145 145 145;
    --color-surface: 156 156 156;

    /*SEMANTIC */
    --color-warning-disable: 191 133 64;
    --color-warning: 255 138 0;
    --color-warning-hover: 230 124 0;
    --color-warning-focus: 207 112 0;

    --color-error-disable: 191 94 64;
    --color-error: 255 61 0;
    --color-error-hover: 230 55 0;
    --color-error-focus: 207 50 0;

    --color-success-disable: 97 191 64;
    --color-success: 66 255 0;

    /* PRIMARIES */

    /* SECONDARIES */

    /* FONTS */
    --font-primary: "Nyght Serif";
    --font-secondary: "Nohemi";
  }

  :root.dark {
    /* COLOURS */
    /* BASE */
    
    --color-primary-100: 145 145 145;
    --color-primary-200: 133 133 133;
    --color-primary-300: 97 97 97;
    --color-primary-400: 85 85 85;
    --color-primary-500: 73 73 73;
    --color-primary-600: 60 60 60;
    --color-primary-700: 48 48 48;
    --color-primary-800: 12 12 12;
    --color-primary-900: 0 0 0;

    --color-secondary-100: 255 194 121;
    --color-secondary-200: 255 187 106;
    --color-secondary-300: 255 161 49;
    --color-secondary-400: 255 150 26;
    --color-secondary-500: 255 138 0;
    --color-secondary-600: 230 124 0;
    --color-secondary-700: 207 112 0;
    --color-secondary-800: 150 82 0;
    --color-secondary-900: 135 74 0;

    --color-accent-100: 230 133 239;
    --color-accent-200: 227 119 237;
    --color-accent-300: 217 68 230;
    --color-accent-400: 213 47 227;
    --color-accent-500: 208 24 224;
    --color-accent-600: 187 22 202;
    --color-accent-700: 168 20 182;
    --color-accent-800: 122 14 133;
    --color-accent-900: 110 13 120;

    --color-neutral-100: 197 197 197;
    --color-neutral-200: 190 190 190;
    --color-neutral-300: 166 166 166;
    --color-neutral-400: 156 156 156;
    --color-neutral-500: 145 145 145;
    --color-neutral-600: 131 131 131;
    --color-neutral-700: 118 118 118;
    --color-neutral-800: 86 86 86;
    --color-neutral-900: 77 77 77;

    --color-background: 0 0 0;
    --color-surface: 156 156 156;

    /*SEMANTIC */
    --color-warning-disable: 191 133 64;
    --color-warning: 255 138 0;
    --color-warning-hover: 230 124 0;
    --color-warning-focus: 207 112 0;

    --color-error-disable: 191 94 64;
    --color-error: 255 61 0;
    --color-error-hover: 230 55 0;
    --color-error-focus: 207 50 0;

    --color-success-disable: 97 191 64;
    --color-success: 66 255 0;

    /* PRIMARIES */

    /* SECONDARIES */

    /* FONTS */
    --font-primary: "Nyght Serif";
    --font-secondary: "Nohemi";
  }
}
